@import "~font-awesome/css/font-awesome.css";
@import '~semantic-ui-css/semantic.min.css';

/*body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}*/

body {
  min-width: 850px;
}

.podcast-preview {
  background-color: #333;
  height: 100%;
  color: white;
}

.podcast-preview h3 {
  text-align: center;
}

.podcast-preview p {
  padding: 0px 5px;
  font-size: 14px;
  text-align: justify;
}

h3 {
  margin-top: 14px !important;
}
